section(class="rn-home__intro")
  div(class="rn-home__intro--wrapper")
    img(class="rn-home__intro--image", src="assets/images/placeholder-profile.jpg", alt="Rodrigo Nunes")
    h2(class="rn-home__intro--greeting") Hello & Welcome
    h1(class="rn-home__intro--name") 
      span I'm
      strong Rodrigo Nunes.
    div(class="rn-home__intro--icons")
      a(class="icon icon-linkedin", href="//linkedin.com/in/rodrigonunes13/", title="LinkedIn")
      a(class="icon icon-github", href="//github.com/RNunes13", title="GitHub")
      a(class="icon icon-email", href="mailto:nunesrodrigo13@outlook.com", title="Email")
    button(class="rn-home__intro--button js--download-cv") Download CV
