head
  +metaTags()
  title Rodrigo Nunes | Front-End Developer
  link(rel='shortcut icon' href='assets/images/favicon.ico' type='image/x-icon')

  //- Resource Hints
  include ./_resource-hints.pug

  //- Google Analytics
  include ./_google-analytics.pug
  
  //- JsonLd
  include _JsonLd.pug

  //- Styles
  block styles
    include ./_styles.pug
