
script(type='application/ld+json').
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://rodrigonunes.tech/",
    "logo": "https://rodrigonunes.tech/assets/images/logo-b.png",
    "sameAs": [
      "https://github.com/RNunes13",
      "http://linkedin.com/in/rodrigonunes13/",
    ]
  }

