//- External
link(href='//cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css', rel='stylesheet', media='all')

//- Local
link(href='assets/common/css/personal-common-globals.css', rel='stylesheet', media='all')
link(href='assets/css/personal-general.css', rel='stylesheet', media='all')
