footer(class="rn-footer")
  div(class="rn-footer__container")
    div(class="rn-footer__logo")
      a(href="/")
        img(class="rn-footer__logo--image", src="assets/images/logo-b.png", alt="Rodrigo Nunes")
    div(class="rn-footer__social")
      a(class="icon icon-linkedin", href="//linkedin.com/in/rodrigonunes13/", title="LinkedIn")
      a(class="icon icon-github", href="//github.com/RNunes13", title="GitHub")
      a(class="icon icon-email", href="mailto:nunesrodrigo13@outlook.com", title="Email")
    div(class="rn-footer__copyright")
      span RNunes &copy;
      span(class="rn-footer__copyright--year js--footer-year")
      span All Right Reserved.
