
/**
* Colors
*/

$color-black          : #000000;
$color-charcoal       : #434343;
$color-gainsboro      : #dddddd;
$color-green-pine     : #00796b;

$color-white          : #ffffff;
$color-white-smoke    : #f1f1f1;

$color-primary  : $color-green-pine;
